@use 'variables/globals.scss';

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-Regular.woff') format('woff'),
         url('../assets/fonts/Manrope-Regular.woff') format('woff');
    // font-weight: 400;
    // font-style: normal;
  }

body {
    font-family: 'Manrope',sans-serif;
  
}

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }