@use '../styles/variables/colors.scss' as c;

.drop {
  border: 1px dashed #777777;
  padding: 16px;
  border-radius: 8px;
  &:hover {
    opacity: 0.6;
}
}

.input {
  display: none;
}


.label {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  
}
.greenText {
  color: green;
}

.initialText {
  display: flex;
  padding: 7.5px 0;
  align-items: center;
}