:root {
  --text-contrast: #FFF;
  --background-default: #FFF;
  --background-secondary: #F7F7F7;
  --text-secondary: #757575;
  --stroke-light-grey: #DDD;
  --grey-5: #EDEDED;
  --grey-10: #E3E3E3;

  --stroke-green: #008f4c;
  --primary-green: #008f4c;
  --primary-dark-green: #007C42;

  --primary-gold: #B8A176;
  --primary-dark-gold: #947F57;

  --primary-blue: #21254D;

  font-family: 'Manrope' !important;
}
